*{
    padding: 0;
    margin: 0;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.14rem;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 0.14rem;
    background: #fff;
    color: #4afdbe;
    background-image: url("../images/bg.png");
}
.btn-wrapper{
    height: 1rem;
    margin-top: -1rem;
    width: 100%;
    position: relative;
    z-index: 2;
}
.btn{
    position: absolute;
    left: 50%;
    background-image: url("../images/arrow.png");
    background-size: 100% 100%;
    width: .54rem;
    height: .88rem;
    margin-left: -.27rem;
    border: none;
    -webkit-animation-delay: 2s;
}

/* home */

.home-wrapper{
    width: 100%;
    height: 100%;
}
.home-wrapper .header{
    width: 100%;
    height: auto;
    position: relative;
}
.home-wrapper .header-left{
    width: 3.12rem;
    height: 2.11rem;
    background-image: url("../images/home-top-shading.png");
    background-size: 100% 100%;
}
.home-wrapper .header-right{
    width: 1.22rem;
    height: 1.22rem;
    background-size: 100% 100%;
    background-image: url("../images/home-head-right.png");
    position: absolute;
    bottom: 0;
    right: .14rem 
}
.home-wrapper .middle{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: .29rem;
}
.home-wrapper .m-sub-title{
    background-image: url("../images/logo.png");
    background-size: 100% 100%;
    margin: .1rem 0 0 1.17rem;
    width: 2.34rem;
    height: .34rem;
}
.home-wrapper .m-title{
    background-image: url("../images/title.png");
    background-size: 100% 100%;
    width: 4.57rem;
    height: 1.18rem;
    margin: .1rem 0 0 1.01rem;
}
.home-wrapper .m-logo{
    background-image: url("../images/home-right-shading.png");
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    width: 1.9rem;
    height: .45rem;
    top: .33rem;
}
.home-wrapper .m-time{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: .27rem;
}
.home-wrapper .border-left{
    background-image: url("../images/left-border.png");
    background-size: 100% 100%;
    width: 2.82rem;
    height: 0.98rem;
}
.home-wrapper .border-middle{
    background-image: url("../images/border.png");
    background-size: 100% 100%;
    position: absolute;
    text-align: center;
    line-height: .63rem;
    height: .63rem;
    width: 5.08rem;
    top: .20rem;
    left: .8rem;
    color: #4afdbe;
}
.home-wrapper .border-right{
    background-image: url("../images/right-border.png");
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: .28rem;
    width: 1.72rem;
    height: 1.12rem;
}
.home-wrapper .bottom{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: .5rem;
}
.home-wrapper .bottom-left{
    float: left;
    margin: .6rem 0 0 .56rem;
    display: inline-block;
    width: .61rem;
    height: 2.99rem;
    background-image: url(../images/footer-left-shading.png);
    background-size: 100% 100%;
}
.home-wrapper .bottom-middle{
    float: left;
    width: 1.4rem;
    height: 4.57rem;
    margin: -.31rem 0 0 .2rem;
    background-image: url(../images/footer-middle-shading.png);
    background-size: 100% 100%;
}
.home-wrapper .bottom-right{
    width: 3.33rem;
    height: 3.49rem;
    float: right;
    margin-top: .78rem;
    background-image: url(../images/footer-right-shading.png);
    background-size: 100% 100%;
}

/* static */
.static-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.static-wrapper .header{
    width: 100%;
    height: auto;
    padding-top: .6rem;
}
.static-wrapper .header-con{
    font-size: 14px;
    text-align: left;
    line-height: .4rem;
    color: #ceffe3;
    width: 3.75rem;
    height: 1.2rem;
    margin-left: .6rem;
    -webkit-animation-delay: 2s;
}
.static-wrapper .middle{
    background-image: url(../images/static-border.png);
    background-size: 100% 100%;
    position: relative;
    margin: .7rem auto 0;
    width: 5.99rem;
    height: 6.2rem;
}
.static-wrapper .people-total{
    width: 100%;
    margin-left: .24rem;
    line-height: .24rem;
}
.static-wrapper .people-num{
    font-size: 24px;
}
.static-wrapper .people-desc{
    font-size: 14px;
    color: #ceffe3;
}
.static-wrapper .static-con{
    display: flex;
    width: 100%;
}
.static-wrapper .con-left{
    flex-basis: .46rem;
    margin-left: .56rem;
}
.static-wrapper .font-one{
    width: .46rem;
    height: .46rem;
    margin-top: .5rem;
    background-image: url(../images/static_level3.png);
    background-size: 100% 100%;
}
.static-wrapper .font-two{
    width: .46rem;
    height: .46rem;
    margin-top: .9rem;
    background-image: url(../images/static_level2.png);
    background-size: 100% 100%;
}
.static-wrapper .font-three{
    width: .46rem;
    height: .46rem;
    margin-top: .9rem;
    background-image: url(../images/static_level1.png);
    background-size: 100% 100%;
}
.static-wrapper .con-last,
.static-wrapper .con-now{
    margin: 0 .15rem;
    height: 5.6rem;
    position: relative;
    flex-basis: 1.6rem;
}
.static-wrapper .last-logo,
.static-wrapper .now-logo{
    width: 1.22rem;
    height: .34rem;
    background-image: url(../images/previous_period.png);
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -.61rem;
    bottom: .65rem;
}
.static-wrapper .now-logo{
    background-image: url(../images/current_period.png);
}
.static-wrapper .last-data,
.static-wrapper .now-data{
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 1.1rem;
}
.static-wrapper .last-one,
.static-wrapper .last-two,
.static-wrapper .now-one,
.static-wrapper .now-two{
    flex: 1;
    height: auto;
    text-align: center;
}
.static-wrapper .block{
    width: .76rem;
    height: .09rem;
    background: #4afdbe;
    margin-top: .02rem;
    margin-bottom: .02rem;
    -webkit-animation-delay: 2s;
}
.static-wrapper .con-right{
    flex: 1;
    padding: .5rem .2rem;
    box-sizing: border-box;
}
.static-wrapper .con-desc{
    font-size: 14px;
    text-align: center;
    color: #ceffe3;
    margin-top: 2.3rem;
    padding-left: .05rem;
    width: .6rem;
    margin-left: .15rem;
}
.static-wrapper .bottom{
    width: 100%;
    height: auto;
    position: relative;
}
.static-wrapper .bottom-left{
    float: left;
    margin-top: .4rem;
    width: 2.34rem;
    height: .4rem;
    background-image: url(../images/footer-left.png);
    background-size: 100% 100%;
}
.static-wrapper .bottom-right{
    float: right;
    margin-top: .2rem;
    width: 2.24rem;
    height: .35rem;
    background-image: url(../images/footer-right.png);
    background-size: 100% 100%;
}
/* pop */
.pop-wrapper{
    width: 100%;
    height: auto;
}
.pop-wrapper .pop-title{
    padding-top: .45rem;
    margin-left: .35rem;
    font-size: 24px;
    height: .55rem;
    line-height: .55rem;
    color: #4afdbe;
    text-align: left;
}
.pop-wrapper .pop-group {
    width: 100%;
    position: relative;
    list-style: none;
    padding: 0 .35rem;
    box-sizing: border-box;
}
.pop-wrapper .pop-item{
    display: flex;
    width: 100%;
    background-image: url(../images/border1.png);
    height: 1.5rem;
    background-size: 100% 100%;
    margin-bottom: .05rem;
    padding: .35rem .4rem;
    box-sizing: border-box;
}
.pop-wrapper .item-left{
    flex: 1;
    border-right: 0.01rem solid #4afdbe;
    text-align: left;
}
.pop-wrapper .left-top{
    height: .5rem;
    color: #4afdbe;
    font-size: 14px;
    line-height: .5rem;
}
.pop-wrapper .left-bottom{
    color: #4afdbe;
    font-size: 14px;
}
.pop-wrapper .item-right{
    flex-basis: 1rem;
    margin-left: .1rem;
}
.pop-wrapper .right-top{
    height: .5rem;
    color: #4afdbe;
    font-size: 14px;
    line-height: .5rem;
}
.pop-wrapper .right-bottom{
    color: #4afdbe;
    font-size: 14px;
}
.pop-wrapper .bottom{
    width: 100%;
    height: auto;
    position: relative;
}
.pop-wrapper .bottom-left{
    float: left;
    margin-top: .4rem;
    width: 2.34rem;
    height: .4rem;
    background-image: url(../images/footer-left.png);
    background-size: 100% 100%;
}
.pop-wrapper .bottom-right{
    float: right;
    margin-top: .2rem;
    width: 2.24rem;
    height: .35rem;
    background-image: url(../images/footer-right.png);
    background-size: 100% 100%;
}
/* top */
.pop-wrapper .top-title{
    padding-top: .45rem;
    margin-left: .35rem;
    font-size: 24px;
    height: .55rem;
    line-height: .55rem;
    color: #4afdbe;
    text-align: left;
}
.pop-wrapper .top-group {
    width: 100%;
    position: relative;
    list-style: none;
    padding: 0 .35rem;
    box-sizing: border-box;
}